.choice{
    width: 20%;
    min-height:fit-content;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;
    background-color: #fff;
    &.not-lock{
        cursor: pointer;
        &:hover{
            background-color: #4171ff;
            color: #ffffff;
            transform: scale(1.1);
            transition: 200ms;
        }
    }
    &.lock{
        background-color: #aaaaaa;
    }
    &.green{
        background-color: #157e00;
        color: #ffffff;
        font-weight: 600;
        font-size: 40px;
    }
    &.red{
        font-size: 40px;
        background-color: #e66363;
        font-weight: 600;
        color: #ffffff;
    }
}
