.displayedWord{
    background: #37373799 ;
    border-radius: inherit;
    padding-bottom: 10px;
    .word-container{
        background: #ff0073d9 ;
       
        
        h1{
            text-align: center;
            font-size: 130px;
            color: #ffffff;
            font-weight: 600;
        }
    }
    .qustion{
        margin: 20px auto 0;
        text-align: center;
        color: #ffffff;
        font-size: 40px;  
    }
    .index-container{
        display: flex;
        justify-content: space-evenly;
        margin: 20px auto 10px;
        .index {
            width: fit-content;
            padding: 5px 20px;
            color: #717171;
            font-weight: 600;
            background-color: #ffffffa7;
            border-radius: 5px;
            font-size: 30px;
            cursor: pointer;
            .indexIcon{
                width: 30px;
                height: 30px;
            }
            &:hover,&.selected{
                background-color: #2f35cc;
                color: #ffffff;
                transition: all 150ms;
            }
        }
    }
    .answer{
        text-align: center;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2181ca;
        width: fit-content;
        padding: 5px 30px;
        border-radius: 10px;
        margin: auto;
        color: #ffffff;
        border: 3px solid #373737;
        animation: slideDown 150ms ease-out;
        overflow: hidden;

        .answerIcon{
            width: 50px;
            height: 50px;
            margin: auto 5px;       
        }
        &.green{
            background-color: #157e00a6;
            color: #ffffff;
        }
        &.red{
            background-color: #e66363;
            color: #ffffff;
        }
    }
    .choices-container{
        display: flex;
        margin: 30px auto 10px;
        justify-content:space-evenly;
    }
}

@keyframes slideDown {
    0%{height: 0px;opacity: 0;}
    90%{opacity: 1}
    100%{height: 60px}
}